# Node.js dependencies
/node_modules/
/config/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# Build directories
/dist/
/build/

/# Operating system files
.DS_Store
Thumbs.db
